@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("font/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), url("font/fontawesome-webfont.woff") format('woff'), url("font/fontawesome-webfont.ttf") format('truetype'), url("font/fontawesome-webfont.svg#FontAwesomeRegular") format('svg');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #444;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px transparent;
}
@media screen and (max-width: 1260px) {
  body {
    padding: 0 5%;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 0.9em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.1em;
}
p {
  font-size: 1em;
}
a {
  text-decoration: none;
  color: #258fb8;
}
a:hover {
  text-decoration: underline;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.inner {
  width: 1060px;
  margin: 0 auto;
}
@media screen and (max-width: 1260px) {
  .inner {
    width: 100%;
  }
}
#main-col {
  width: 760px;
}
@media screen and (max-width: 1260px) {
  #main-col {
    width: 100%;
    margin-right: -300px;
  }
}
@media screen and (max-width: 900px) {
  #main-col {
    margin-right: 0;
    float: none;
  }
}
@media screen and (max-width: 1260px) {
  #wrapper {
    margin-right: 300px;
  }
}
@media screen and (max-width: 900px) {
  #wrapper {
    margin-right: 0;
  }
}
#header {
  text-shadow: 0 0 1px #fff;
  margin-bottom: 25px;
}
#header .header-div a {
  font-family: cursive;
  font-size: 1.1em;
}
#header .header-content {
  padding: 2em 0.5em;
}
#header .header-content .col-one {
  width: 100%;
}
#header .header-content .col-one img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 5em;
  float: left;
  margin: 0 0.8em;
  -webkit-transition: height 0.3s, -webkit-transform 1s;
  -moz-transition: height 0.3s, -moz-transform 1s;
  -o-transition: height 0.3s, -o-transform 1s;
  -ms-transition: height 0.3s, -ms-transform 1s;
  transition: height 0.3s, transform 1s;
}
@media screen and (max-width: 320px) {
  #header .header-content .col-one img {
    text-align: center;
  }
}
#header .header-content .col-one img:hover {
  height: 7em;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -ms-transform: rotate(360deg) /* IE 9 */;
  -webkit-transform: rotate(360deg) /* Safari and Chrome */;
  -o-transform: rotate(360deg) /* Opera */;
  -moz-transform: rotate(360deg) /* Firefox */;
}
#header .header-content .col-two {
  margin-left: -50%;
}
#header .header-content .col-two img {
  height: 5em;
}
@media screen and (max-width: 600px) {
  #header .header-content .col-two img {
    display: none;
  }
}
#header .header-nav {
  padding: 0 0.5em;
  border-bottom: 2px solid #eee;
}
#header .header-nav a {
  display: block;
  padding: 10px 10px 10px 10px;
  float: left;
}
#header .header-nav a:hover {
  font-size: 1.5em;
  position: relative;
  bottom: 10px;
  padding-bottom: 0;
}
#header .header-nav a:active {
  font-size: 1.5em;
}
#header #main-nav {
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}
#header #main-nav ul {
  list-style: none;
}
#header #main-nav ul li {
  float: left;
  padding: 13px 15px;
}
#header #main-nav ul li:hover {
  background-color: #eee;
  color: #999;
  font-style: italic;
}
@media screen and (min-width: 901px) {
  #header #main-nav a[href="/index.html#categories"] {
    display: none;
  }
}
#header #sub-nav {
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}
@media screen and (max-width: 600px) {
  #header #sub-nav {
    display: none;
  }
}
#header #sub-nav ul {
  list-style: none;
}
#header #sub-nav ul li {
  float: right;
  padding: 13px 15px;
}
#header a {
  color: #999;
}
#header a:hover {
  color: #258fb8;
  text-decoration: none;
}
#header h1 {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1;
}
#header h2 {
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1;
  margin-top: 10px;
}
article {
  -webkit-box-shadow: 1px 1px 10px #aaa;
  box-shadow: 1px 1px 10px #aaa;
  background: #fff;
}
article #top {
  font-size: 0.8em;
  font-weight: bold;
  color: #f00;
}
article.page .icon:before {
  content: '\f005';
}
article.post .icon:before {
  content: '\f016';
}
article.photo .icon:before {
  content: '\f030';
}
article.link .icon:before {
  content: '\f0c1';
}
article.link .title a:after {
  content: '\f08e';
  color: #999;
  font: 12px FontAwesome;
  padding-left: 10px;
  vertical-align: super;
}
article .post-content {
  padding: 1.5em 3em 0 77px;
  margin-bottom: 2em;
  position: relative;
}
@media screen and (max-width: 600px) {
  article .post-content {
    padding-left: 1em;
    padding-right: 1em;
  }
}
article .gallery {
  overflow: hidden;
  position: relative;
}
article .gallery:hover .control {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
article .gallery img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
article .gallery .control {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
article .gallery .prev,
article .gallery .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
article .gallery .prev:before,
article .gallery .next:before {
  position: absolute;
  font: 24px/1 FontAwesome;
  text-align: center;
  width: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  color: #fff;
  margin-top: -12px;
  top: 50%;
}
article .gallery .prev {
  left: 0;
}
article .gallery .prev:before {
  content: '\f053';
  left: 10px;
}
article .gallery .next {
  right: 0;
}
article .gallery .next:before {
  content: '\f054';
  right: 10px;
}
article header .icon {
  width: 32px;
  height: 32px;
  margin-right: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #258fb8;
}
@media screen and (max-width: 600px) {
  article header .icon {
    display: none;
  }
}
article header .icon:before {
  position: absolute;
  font: 32px FontAwesome;
  top: 0;
  left: 0;
  width: 32px;
  text-align: center;
}
article header time {
  color: #999;
  font: 0.9em "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  display: block;
  line-height: 1;
}
article header .title {
  font-weight: normal;
}
@media screen and (max-width: 600px) {
  article header .title {
    font-size: 1.5em;
  }
}
article header .title a {
  color: #444;
}
article header .title a:hover {
  color: #258fb8;
  text-decoration: none;
}
article .entry {
  text-align: justify;
  line-height: 1.6;
  margin-top: 1em;
}
article .entry p,
article .entry blockquote,
article .entry ul,
article .entry ol,
article .entry dl,
article .entry table,
article .entry iframe,
article .entry .video-container {
  margin: 1em 0;
}
article .entry blockquote {
  font-family: "Georgia", serif;
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eee;
}
article .entry blockquote p {
  margin: 0;
}
article .entry blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .entry blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .entry code,
article .entry pre {
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
article .entry code {
  background: #fefefe;
  color: #d14;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
article .entry pre {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  overflow: auto;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
article .entry pre code {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: inherit;
}
article .entry ul,
article .entry ol,
article .entry dl {
  margin-left: 20px;
}
article .entry ul ul,
article .entry ol ul,
article .entry dl ul,
article .entry ul ol,
article .entry ol ol,
article .entry dl ol,
article .entry ul dl,
article .entry ol dl,
article .entry dl dl {
  margin-top: 0;
}
article .entry h1,
article .entry h2 {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 20px;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  font-weight: normal;
}
article .entry img,
article .entry video {
  max-width: 100%;
  height: auto;
  border: none;
  max-height: 500px;
}
article .entry iframe {
  border: none;
}
article .entry .caption {
  display: block;
  margin-top: 5px;
  color: #999;
  position: relative;
  font-size: 0.9em;
  padding-left: 25px;
}
article .entry .caption:before {
  content: '\f040';
  position: absolute;
  font: 1.3em FontAwesome;
  position: absolute;
  left: 0;
  top: 3px;
}
article .entry .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .entry .video-container iframe,
article .entry .video-container object,
article .entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .entry .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article footer {
  padding-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 0.9em;
  line-height: 16px;
  position: relative;
  min-height: 16px;
}
article footer a {
  color: #999;
}
article footer a:hover {
  color: #258fb8;
  text-decoration: none;
}
article footer a:before {
  font: 1.1em FontAwesome;
  padding-right: 10px;
  vertical-align: middle;
}
article footer a.more-link:before {
  content: '\f054';
}
article footer a.comment-link:before {
  content: '\f075';
}
article footer .categories,
article footer .tags,
article footer .counter {
  position: relative;
  padding-left: 25px;
  margin: 5px 0;
}
article footer .categories:before,
article footer .tags:before,
article footer .counter:before {
  position: absolute;
  font: 1.1em FontAwesome;
}
article footer .categories:before {
  content: '\f07b';
  top: 2px;
  left: 1px;
}
article footer .tags:before {
  content: '\f02b';
  top: 3px;
  left: 2px;
}
article footer .counter:before {
  content: '\f04b';
  top: 1px;
  left: 3px;
}
#comment {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px #aaa;
  box-shadow: 1px 2px 10px #aaa;
  margin-bottom: 50px;
}
#comment .title {
  font-weight: normal;
  margin-bottom: 15px;
}
#pagination a {
  display: block;
  padding: 5px 10px;
  background: #fff;
  color: #999;
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 1px 1px 3px #bbb;
  box-shadow: 1px 1px 3px #bbb;
}
#pagination a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
#pagination .prev:before {
  content: '\f053';
  padding-right: 10px;
  font-family: FontAwesome;
}
#pagination .next:after {
  content: '\f054';
  padding-left: 10px;
  font-family: FontAwesome;
}
.archive-title {
  color: #999;
  font-weight: normal;
  margin-bottom: 30px;
  text-shadow: 0 0 1px #fff;
}
.archive-title:before {
  font-family: FontAwesome;
  content: '\f073';
  padding-right: 15px;
}
.archive-title.tag:before {
  content: '\f02b';
}
.archive-title.category:before {
  content: '\f07b';
}
.archive {
  -webkit-box-shadow: 1px 2px 10px #ddd;
  box-shadow: 1px 2px 10px #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
  padding-bottom: 1em;
}
.archive article {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.archive article .post-content {
  margin-bottom: 0;
}
.archive-tags {
  color: #999;
  font-size: 0.9em;
  line-height: 16px;
  position: relative;
  min-height: 16px;
}
.archive-tags a {
  color: #999;
}
.archive-tags a:hover {
  color: #258fb8;
  text-decoration: none;
}
.archive-tags a:before {
  font: 1.1em FontAwesome;
  padding-right: 10px;
  vertical-align: middle;
}
.archive-tags .categories,
.archive-tags .tags {
  position: relative;
  padding-left: 25px;
  margin: 5px 0;
}
.archive-tags .categories:before,
.archive-tags .tags:before {
  position: absolute;
  font: 1.1em FontAwesome;
}
.archive-tags .categories:before {
  content: '\f07b';
  top: 2px;
  left: 1px;
}
.archive-tags .tags:before {
  content: '\f02b';
  top: 3px;
  left: 2px;
}
#sidebar {
  width: 270px;
  line-height: 1.8em;
}
@media screen and (max-width: 900px) {
  #sidebar {
    float: none;
    width: 100%;
  }
}
#sidebar .widget {
  background: #fff;
  -webkit-box-shadow: -1px 1px 5px #ccc;
  box-shadow: -1px 1px 5px #ccc;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  word-wrap: break-word;
}
#sidebar .widget .title {
  padding: 15px 20px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
#sidebar .widget .baidu_tuijian_title {
  padding: 15px 20px;
  font-size: 1em;
  font-weight: normal;
}
#sidebar .widget .entry {
  font-size: 0.9em;
  padding: 15px 20px;
}
#sidebar .widget .category-list {
  font-size: 0.9em;
  padding: 15px 20px;
}
#sidebar .widget .category-list .category-list-count {
  margin-left: 8px;
  font-size: 0.8em;
  color: #999;
}
#sidebar .widget .category-list .category-list-count:before {
  content: '(';
}
#sidebar .widget .category-list .category-list-count:after {
  content: ')';
}
#sidebar .widget .archive-list {
  font-size: 0.9em;
  padding: 15px 20px;
}
#sidebar .widget .archive-list .archive-list-count {
  margin-left: 8px;
  font-size: 0.8em;
  color: #999;
}
#sidebar .widget .archive-list .archive-list-count:before {
  content: '(';
}
#sidebar .widget .archive-list .archive-list-count:after {
  content: ')';
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
  list-style: none;
}
#sidebar .widget ul ul,
#sidebar .widget ol ul,
#sidebar .widget dl ul,
#sidebar .widget ul ol,
#sidebar .widget ol ol,
#sidebar .widget dl ol,
#sidebar .widget ul dl,
#sidebar .widget ol dl,
#sidebar .widget dl dl {
  margin-left: 20px;
}
#sidebar .widget ul ul li:before,
#sidebar .widget ol ul li:before,
#sidebar .widget dl ul li:before,
#sidebar .widget ul ol li:before,
#sidebar .widget ol ol li:before,
#sidebar .widget dl ol li:before,
#sidebar .widget ul dl li:before,
#sidebar .widget ol dl li:before,
#sidebar .widget dl dl li:before {
  content: '> ';
}
#sidebar .search {
  margin-bottom: 30px;
}
#sidebar .search input {
  background: #fff;
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #ddd;
  -webkit-box-shadow: -1px 1px 5px #ccc;
  box-shadow: -1px 1px 5px #ccc;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
}
#sidebar .search input:focus {
  color: #444;
}
#sidebar .tag small {
  margin-left: 15px;
  color: #999;
}
#sidebar .tag small:before {
  content: '(';
}
#sidebar .tag small:after {
  content: ')';
}
#sidebar .twitter li {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  font-size: 0.9em;
}
#sidebar .twitter li:last-of-type {
  border-bottom: none;
}
#sidebar .twitter small {
  display: block;
  margin-top: 10px;
  color: #999;
  line-height: 1;
}
#sidebar .tagcloud .entry {
  padding-right: 5px;
}
#sidebar .tagcloud a {
  margin-right: 10px;
  display: inline-block;
}
#footer {
  color: #999;
  margin: 2em auto;
  text-align: center;
  padding-top: 0.5em;
  font: 0.9em/1.6 "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
  border-top: 2px solid #eee;
  font-style: italic;
}
@media screen and (max-width: 500px) {
  #footer .alignright,
  #footer .alignleft {
    float: none;
  }
}
#toTop {
  width: 30px;
  height: 50px;
  background: rgba(85,85,85,0.3) none repeat scroll 0% 0%;
  position: fixed;
  bottom: 1%;
  right: 3%;
  text-align: center;
  cursor: pointer;
  display: block;
}
#toTop a {
  display: block;
  width: 30px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background: transparent none repeat scroll 0% 0%;
  text-decoration: none;
}
#toTop a:hover {
  background-color: #258fb8;
}
.entry .gist {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: #999;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry .gist .gist-file .gist-meta a {
  color: #258fb8;
}
.entry .gist .gist-file .gist-meta a:visited {
  color: #258fb8;
}
figure.highlight {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #999;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
figure.highlight .line {
  height: 20px;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
.resume {
  margin: 0 auto;
  background-color: #fff;
  line-height: 1.6;
  width: 921px;
}
@media screen and (max-width: 900px) {
  .resume {
    width: 100%;
  }
}
.resume-content {
  float: right;
  width: 550px;
  padding: 30px;
  border-left: 1px dashed #aaa;
  margin-left: -210px;
}
@media screen and (max-width: 900px) {
  .resume-content {
    width: 100%;
    margin: 0 auto;
    float: none;
  }
}
@media screen and (max-width: 500px) {
  .resume-content {
    margin: 30px 0 0 0;
    float: none;
    border: none;
    padding: 0;
  }
}
.resume h1,
.resume h2,
.resume h3 {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  margin-top: 20px;
}
.resume p {
  margin-top: 15px;
}
@media screen and (max-width: 900px) {
  .resume-entry {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .resume-entry {
    margin: 0 auto;
    text-align: center;
  }
}
.resume-entry ul,
.resume-entry ol {
  margin-left: 20px;
  margin-top: 15px;
}
.resume-left {
  float: left;
  width: 250px;
  padding: 30px;
  text-align: right;
}
@media screen and (max-width: 900px) {
  .resume-left {
    float: none;
    margin: 0 auto;
    text-align: left;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .resume-left {
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
}
.resume-left img {
  max-width: 100%;
  float: right;
}
@media screen and (max-width: 900px) {
  .resume-left img {
    float: none;
    margin: 0 auto;
    text-align: left;
  }
}
@media screen and (max-width: 500px) {
  .resume-left img {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}
.resume-left ul li {
  list-style: none;
}
.resume-left span {
  font-style: italic;
}
.resume-txt {
  float: right;
  padding-top: 12px;
  line-height: 1.2em;
}
@media screen and (max-width: 900px) {
  .resume-txt {
    float: none;
    margin: 0 auto;
    text-align: left;
  }
}
@media screen and (max-width: 500px) {
  .resume-txt {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}
.resume-little {
  font-size: 0.8em;
  color: #aaa;
}
.resume-detail {
  font-size: 1.1em;
  color: #000;
  width: 100%;
}
.resume-title2 {
  float: right;
  padding-top: 15px;
  font-size: 1.3em;
  color: #258fb8;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  .resume-title2 {
    float: none;
    margin: 0 auto;
    text-align: left;
  }
}
@media screen and (max-width: 500px) {
  .resume-title2 {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}
.resume h3 {
  padding-top: 15px;
  font-size: 1.3em;
  color: #258fb8;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  border: none;
  margin: 0;
}
.resume blockquote {
  font-style: italic;
  font-family: "Comic Sans MS";
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.resume blockquote p {
  margin: 0;
  font-size: 1.3em;
}
.resume blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 10px 0 0;
  padding-top: 0;
  text-align: right;
}
.resume blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
.toc-article {
  background: #eee;
  padding: 1em;
  position: relative;
  left: 2em;
}
.toc-article .toc-title {
  padding-bottom: 0.8em;
  font-weight: bold;
}
#toc {
  line-height: 1.1em;
  font-size: 0.8em;
  float: right;
}
#toc .toc {
  padding: 0;
}
#toc li,
.toc li {
  list-style-type: none;
}
#toc ol {
  margin: 0;
}
#toc .toc-child {
  padding-left: 1.5em;
}
.gallery-img {
  max-width: 365px;
  float: left;
  margin: 5px;
}
@media screen and (max-width: 1260px) {
  .gallery-img {
    max-width: 260px;
  }
}
@media screen and (max-width: 900px) {
  .gallery-img {
    max-width: 180px;
  }
}
@media screen and (max-width: 400px) {
  .gallery-img {
    max-width: 260px;
    position: relative;
    left: -15px;
  }
}
.gallery {
  padding: 0 30px 30px 30px;
  text-align: justify;
  line-height: 1.6;
}
.gallery blockquote {
  font-style: italic;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: rgba(55,133,191,0.1);
  border-left: 3px solid #3785bf;
  -webkit-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa;
  margin-bottom: 20px;
}
.gallery h1,
.gallery h2 {
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 5px;
  clear: both;
}
